
\.idea/
client/node_modules/
server/node_modules/

simple-peer/node_modules/
simple-peer/package-lock\.json
dist/SimplePeer-bundle\.js

webrtc/node_modules/
webrtc/package-lock\.json
dist/webrtc-bundle\.js

easyRTC/node_modules/
easyRTC/package-lock\.json
dist/EasyRTC-bundle\.js

sockets-test/node_modules/

